.card {
    width:40vw;
    height: 200px;
    background-color: rgb(230, 224, 220);
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
}

img {
    margin: 10px;
}

p {
    margin: 10px;
}